# .github/workflows/release.yaml
on: 
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Lupo Server Releases
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/amd64, windows/amd64, darwin/amd64 
        goos: [linux, windows, darwin]
        goarch: [amd64]
    steps:
    - uses: actions/checkout@v2
    - uses: wangyoucao577/go-release-action@v1.20
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://dl.google.com/go/go1.17.1.linux-amd64.tar.gz"
        project_path: "./lupo-server"
        binary_name: "Lupo-Server"
        extra_files: LICENSE README.md